<link rel="stylesheet" href="../../public/css/recipeview.css">

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="<%= response.data.recipe.image %>" alt="">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">
                                        <%= recipe.recipeName %>
                                    </h3>
                                </div>
                                <ul>
                                    <li class="description">
                                        <p class="description">Description: <%= response.data.recipe.description %>
                                        </p>
                                    </li>
                                    <li class="url">
                                        <p class="url">Original Url: <a href="<%= recipe.url %>"><%= recipe.url %></a></p>
                                    </li>
                                    <li class="cookTime">
                                        <p class="cookTime">Cook Time: <%= response.data.recipe.cookTime %>
                                        </p>
                                    </li>
                                    <li class="prepTime">
                                        <p class="prepTime">Prep Time: <%= response.data.recipe.prepTime %>
                                        </p>
                                    </li>
                                    <li class="yield">
                                        <p class="yield">Yield: <%= response.data.recipe.recipeYield %>
                                        </p>
                                    </li>
                                    <li>
                                        <ul class="ingredients">
                                            <p class="ingredients">Ingredients: </p>
                                            <% for( let i=0; i < response.data.recipe.recipeIngredients.length; i++ ) { %>
                                                <li>
                                                    <%= response.data.recipe.recipeIngredients[i] %>
                                                </li>
                                                <% } %>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="instructions">
                                            <p class="instructions">Instructions: </p>
                                            <% for( let i=0; i < response.data.recipe.recipeInstructions.length; i++ ) { %>
                                                <li>
                                                    <%= response.data.recipe.recipeInstructions[i].text %>
                                                </li>
                                                <% } %>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- 
{"status":201,
"recipe":{
    "recipeDiet":[],
    "recipeCuisine":["american"],
    "recipeCategory":["appetizer","bread"],
    "recipeOccasion":[],
    "recipeUtensils":["bowl"],
    "name":"Spinach Artichoke Dip",
    "image":"https://www.culinaryhill.com/wp-content/uploads/2022/06/Spinach-Artichoke-Dip-Culinary-Hill-1200x800-1.jpg",
    "description":"Homemade Spinach Artichoke Dip is even better than the classic restaurant appetizer. It's hot, bubbly, cheesy, just begging for some crusty bread or tortilla chips.",
    "cookTime":"25 m",
    "cookTimeOriginalFormat":"PT25M",
    "prepTime":"5 m",
    "prepTimeOriginalFormat":"PT5M",
    "totalTime":"30 m",
    "totalTimeOriginalFormat":"PT30M",
    "recipeYield":"8",
    "recipeIngredients":["8 ounces cream cheese (softened)","1/2 cup mayonnaise","1/2 cup sour cream","12 ounces marinated artichoke hearts (drained and chopped (see note 1))","10 ounces frozen chopped spinach (thawed and excess water removed (see note 2))","1 cup shredded mozzarella cheese ((4 ounces))","Salt and freshly ground black pepper (to taste)","tortilla chips (or bread chunks for serving)"],
    "recipeInstructions":[{"type":"text","text":"Preheat oven to 400 degrees. Coat a 9-inch pie plate or other baking dish with nonstick cooking spray."},{"type":"text","text":"In a medium bowl, add cream cheese, mayonnaise, and sour cream and mix until smooth. Stir in artichoke hearts, spinach, mozzarella cheese, and salt and pepper to taste (I like 1/2 teaspoon salt and 1/4 teaspoon pepper)."},{"type":"text","text":"Spread evenly into prepared baking dish and cover with foil. Bake until hot and bubbly, about 35 to 40 minutes. Serve with tortilla chips or crusty bread."}],
    "keywords":"spinach artichoke dip",
    "ratingValue":5,
    "nutritionServingSize":"0.5 cup",
    "nutritionCalories":"222 kcal",
    "nutritionFatContent":"21 g",
    "nutritionSaturatedFatContent":"6 g",
    "nutritionCholesterolContent":"25 mg",
    "nutritionSodiumContent":"376 mg",
    "nutritionCarbohydrateContent":"4 g",
    "nutritionFiberContent":"2 g",
    "nutritionSugarContent":"1 g",
    "nutritionProteinContent":"5 g",
    "recipeTags":[{"name":"spinach-artichoke-dip"},{"name":"black-pepper"},{"name":"spinach"},{"name":"cream-cheese"},{"name":"mozzarella"}],
    "searchTerms":"spinach artichoke dip homemade even better classic restaurant appetizer it's hot bubbly cheesy just begging crusty bread tortilla chips black pepper spinach cream cheese mozzarella"
},
    "url":"http://www.culinaryhill.com/spinach-and-artichoke-dip"
} -->