<link rel="stylesheet" href="../../public/css/recipeview.css">

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..."> -->
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">
                                        <%= recipe.recipeName %>
                                    </h3>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600"> URL: <a
                                                href="<%= recipe.url %>">
                                                <%= recipe.recipeName %>
                                            </a></span>
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Cooked: <%=
                                                recipe.cooked %></span>
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Signature dish: <%=
                                                recipe.signatureDish %></span>
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Parsed Recipe: <a href="/recipe/parsed/<%= recipe.id %>"><%= recipe.recipeName %>: Parsed</a></span>
                                    </li>

                                </ul>
                            </div>
                            
                        </div>
                        <a class="btn btn-info " target="__blank" href="/recipe/delete/<%= recipe.id %>">Delete?</a>
                        <a class="btn btn-info " target="__blank" href="/recipe/edit/<%= recipe.id %>">Edit?</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title text-primary mb-3 mb-sm-4">Descritption</span>
                    <p>
                        <%= recipe.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>